<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link th:href="@{/css/responsive.css}" rel="stylesheet">
    <link th:href="@{/css/error.css}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6a8a15345c.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="text">
        Game Over!
    </div>
    <div class="text">
        Something went wrong. We'll look into this.
    </div>
    <a href="/">Go Home</a>
</div>

</body>
</html>
