<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>Fragments</title>
</head>
<body>
<div th:fragment="navigator">
    <table>
        <tr>
            <td>
                <a th:href="@{/}">Home</a>
            </td>
        </tr>
        <tr>
            <td>
                <a th:href="@{/login}">Login</a>
            </td>
        </tr>
        <tr>
            <td>
                <a th:href="@{/register}">Sign up</a>
            </td>
        </tr>

    </table>
</div>
</body>
</html>