<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tweet form</title>
</head>
<body>
<!--Przeniesione do home-user.html-->
<form th:action="@{/tweet/add}" th:method="post"  th:object="${newTweet}">
    <input type="hidden" name="tweetUserId" th:value="${user_Id}">
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{dateTweetAdded}" >

    <label for="tweet">What do you have to say:</label>
    <input type="text" placeholder="What do you have to say" maxlength="160" id="tweet" th:field="*{content}" required="required"><br>

    <input type="submit" value="Send a tweet"/>

</form>


</body>
</html>